.slot {
    width: 100%;
    height: 25%;
}

.color {
	border: 2px solid black;
    display: inline-block;
    height: 92%;
    width: 50%;
    box-shadow: none;
}

#play {
	display: none;
}

.playing-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.arrow {
	display: inline-block;
	width: 20%;
	height: 92%;
}

.arrow-img {
	height: 70px;
	padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vertical-arrow-img {
	height: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.arrow-up {
	height: 50px;
}

.arrow-down {
	height: 50px;
}

.slot-wrapper {
    width: 90%;
    height: 80%;
    margin-top: 0px;
    margin-left: 10%;
    display: inline-block;
    left: 7%;
    //position: absolute;
}

.contestants-view {
  width: 61%;
  height: 90%;
  margin-top: 50px;
  display: inline-block;
  float: left;
}

.contestants-row {
  margin-top: 25px;
}

.row {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.header-row {
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
}

.header-row-player {
	display: inline-block;
	height: 20px;
	margin: 5px;
	text-align: center;
	border: 2px solid white;
}

.header-row-player-selected {
    display: inline-block;
    height: 20px;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.grid-color {
  display: inline-block;
  height: 80px;
  margin: 5px;
  border: 2px solid black;
}

.grid-color-selected {
  display: inline-block;
  height: 80px;
  margin: 5px;
  border: 2px solid red;
}

.pass-btn {
	position: absolute;
	top: 10px;
	left: 30px;
	height: 20px;
	width: 50px;
}

#winner-modal {
    position: absolute;
    text-align: center;
    height: 60px;
    width: 100%;
    top: 50%;
    color: red;
    font-size: 50px;
    background-color: black;
    color: white;
}